<!--
File: 
-->
<div class="container-bottom text"></div>
<div class="text-center">
    <img src="./content/images/hands.png" class="img-fluid" alt="..." style="min-height:450px;object-fit: cover;">
    <div class="centered fs-1">
        <b>Helping Hand</b> ~ connecting a community together.
        <br /><br /><br />
    </div>
    <div class="centered text-white fs-1">

    </div>

    <div class="container container-flex px-4 text-center">
        <br><br>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 p-3 pb-5">
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 rounded-bottom" style="max-width: 18rem; min-height:180px; border-color: blueviolet;">
                    <div class="card-header" style="color:rgb(0, 0, 0)"><b>Kingston, ON</b></div>
                    <div class="card-body text-primary rounded-bottom" style="background-image:url('./content/images/banner.jpeg');">
                      <h5 class="card-title text-danger">Canada</h5>
                      <p class="card-text text-danger">An online app for the community.</p>
                    </div>
                </div>
            </div>
               
        </div>
            
        </div>
    <div class="container-fluid">
        <br><br>

    </div>
</div>