<!--
File: 
-->
<div class="container-flex text-center">
  <img src="./content/images/banner.jpeg" class="img-full" alt="..." style="min-height:450px;object-fit: cover;">
</div>
<div class="centered text-red fs-2"><b>Connecting</b> Volunteers to Those That Need <u>Help</u></div>
<div class="centered-btn">
  <a href="/login"><button type="button" class="btn btn-danger"> Join Now To Get Started! </button></a>
</div>
<div class="container">
  <br><br><br>
</div>

<div class="container container-flex px-4 text-center">
  <div class="row gx-5">
    <div class="col min-width">
      <div class="p-3 border bg-light boxFormat">
        <h8> <b>Login or Register</b> </h8> <br>Create a user account that only take one min to set up, is free and
        secure.
      </div>
    </div>
    <div class="col min-width">
      <div class="p-3 border bg-light boxFormat">
        <h8> <b>Request a Hand</b> </h8> <br> Post or find an Ad to connect with a Volunteer or those that need a hand!
      </div>
    </div>
    <div class="col min-width">
      <div class="p-3 border bg-light boxFormat">
        <h8> <b>Book a Hand</b> </h8> <br>Get in touch: Request to be the volunteer or accept help from a Volunteer!
        more.
      </div>
    </div>
  </div>
</div>

<div class="container-flex text-center">
  <div class="container-bottom"></div><br>
  <img src="./content/images/pic.jpeg" class="img-full" alt="..." style="min-height:450px;object-fit: cover;">
</div>





<div class="container-bottom"></div>
<div class="container-flex text-center"><br><br>
<h1 class="text-center"> Make a difference in somone's life today! </h1>
<br>
  <a href="/login"><button type="button" class="btn btn-danger"> Join Now To Get Started! </button></a>
  <br><br><br><br>
</div>
<br><br><br><br>
<br>

<div class="container-flex" style="background-color: crimson;"><br><br>
  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col min-width">
        <div class="p-3 border bg-light boxFormat">
          <h8> <b>Secure Profiles</b> </h8> <br><img src="./content/images/secure.png" width="100%">
        </div>
      </div>
      <div class="col min-width">
        <div class="p-3 border bg-light boxFormat">
          <h8> <b>User Reviews</b> </h8> <br><img src="./content/images/reviews.png" width="100%">
        </div>
      </div>
      <div class="col min-width">
        <div class="p-3 border bg-light boxFormat">
          <h8> <b>Rewards</b> </h8> <br><img src="./content/images/rewards.png" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="container-bottom"></div><br>
</div>
