<!--
File: 
-->
<div class="container-fluid" style="background-color: #ffffff; background-image: URL('./content/images/pic.jpeg'); min-height:110%;object-fit: cover; background-repeat:no-repeat;">  
  <div class="position-absolute top-50 start-50 translate-middle border border-danger p-5">
      <h3 class="text-center">Login Form</h3>
      <hr>
      <% if(messages.length > 0) { %>
          <div id="messageArea" class="text-center alert alert-danger">
          <%= messages %>
        </div>
        <% } %>
      <!-- Form login -->
      <form method="POST" id="loginForm">
          <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>                
              </div>
              <label for="password" class="form-label">Password</label>
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </div>
          </div>
          <div class="d-grid gap-2">
              <button type="submit" class="btn btn-outline-dark">Submit</button>
              <button type="button" class="btn btn-outline-danger" onclick="location.href = 'home'">Cancel</button>
          </div>
          <p class="text-center text-muted small">
            Don't have an account? 
            <a class="link" href="/register">Register Here!</a>
      </form>
      </div>
      <br>
      <!--SUBSCRIBE INPUT -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div>
</div>
