
   <!--<h1><%= title %></h1>-->
    <div class="containerAbout">
        <h2>Tim Upton</h2>
    <div class="contAbout"><h3>Personal Details</h3>
        <ul><li>Age: 31 Years old</li></ul>
        <ul><li>Residing: Ontario, Canada</li></ul>
        <ul><li>Profession: Software Engineer</li></ul>
        </div>
    <div class="contAboutPic"><img class="ImgAbout" src = "./content/images/Tim.png">
    </div>
    </div>
<div class="contAboutBottom">
    <h5>&nbsp; &nbsp;I recently left the military as an avionics technician to purse my business adventures, and more of my passions. I currently run my own company HelloSuds, which is based around a unique product I invented. I really enjoy growing the company, but also dream of building a thriving technology business that makes a positive impact on others. I have always loved programming and believe understanding programming will assist me in the larger goals to work for or manage developers to deliver a unique business product to the world.</h5>

</div>
<button class="btnMe"><a class="nav-link <%= (page == 'about') ? 'active' : ''; %>" aria-current="page" href="./content/CV.pdf">View My CV</a></button>
<div class="divAboutBreak"></div>
