
    <!--<h1><%= title %></h1> -->
	
        <h1>Welcome To Tim Upton's Profile Page</h1>
        <br>
        <div class="contMission">
        <h2>Mission Statement</h2>
        <h4>To continuously seek improvement; personal betterment, choose positivity and contribute to the growth of others through personally developed skills, knowledge and wisdom.</h4>
            <button class ="btnMe"><a class="nav-link <%= (page == 'about') ? 'active' : ''; %>" aria-current="page" href="/about">Learn More About Me</a></button>
        </div><div class="contMissionPic"></div>
<div class="divAboutBreak"></div>
