
    <!--<h1><%= title %></h1>-->
    <h1>My Projects</h1>
		<div id="conProject" class="conProject"><img id="ImgProject" class="ImgProject" src="./content/images/Project1.png" alt="" onmouseover="cover(this)" onmouseout="uncover(this)"> </div>
	
		<div class="conProject">
	<img id="ImgProject3" class="ImgProject" src="./content/images/Project3.png" alt="" onmouseover="cover3(this)" onmouseout="uncover3(this)">
		</div>
	
	<div class="conProject">
	<img id="ImgProject2" class="ImgProject" src="./content/images/Project2.png" alt="" onmouseover="cover2(this)" onmouseout="uncover2(this)">
		</div>
	<div class="conProject">
	<h1>Coming soon...</h1>
		</div>
	
	<div class="divProjectInfo">
	</div>
	<div class="divAboutBreak"></div>
	<div class="divAboutBreak"></div>