
    <!--<h1><%= title %></h1>-->
    <div class="container">
        <h1>Contact Me</h1>
    <form class="ContactForm">
        <input type="text" id="inputName" class="inputName" placeholder="Name">
         <textarea name="message" type="text" class="inputMessage" placeholder="Message"></textarea> 
        <input type="email" class="inputEmail" placeholder="Email address">
        <input type="text" class="inputSubject" placeholder="Subject">
        <input type="submit" value="Submit" class="inputSubmit" onclick="formSubmit()">
    </form>
                <div class="ContactInfo"><h3>E-mail: tupton@my.centennialcollege.ca</h3></div>
