
    <!--<h1><%= title %></h1> -->

    <div class="container-flex text-center">
        <img src="../../../public/content/images/beach.jpg" class="img-full" alt="..." style="min-height:450px;object-fit: cover;">
    </div>
      <div class="centered-btn">
        <h2>Mission Statement</h2>
        <h4>To continuously seek improvement; strive for excellence in all aspects, fostering personal growth and positivity while actively sharing my skills, knowledge and wisdom to empower and uplift those around me.</h4>
        <br>
        <a href="/about"><button type="button" aria-current="page" class="btn btn-danger"> Learn More About Me! </button></a>
      </div>
      <div class="container">
        <br><br><br>
      </div>
	
        <h1></h1>
        <br>
        <div class="contMission">
       </div><div class="contMissionPic"></div>
<div class="divAboutBreak"></div>
