
    <!--<h1><%= title %></h1>-->
    <h1>My Projects</h1> <br>

	<!--Need to create database and loop the projects details -->
	<div class="container-fluid mb-5 border" style="width:70%;height:300px;">
		<div class="card-header border-top border-left border-right">
		  <ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
			  <a class="nav-link active" href="#">Title</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Other</a>
			  </li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#">Link</a>
			</li>
		  </ul>
		</div>
		<div class="card-body border-2" style="display: inline-block;">
			<div class="mt-2" style="height:75%;width:25%;display: flex;flex-direction: row;float:left;">
			<img class="img-thumbnail float-left" style="width:100%;" src="../../../public/content/images/Project1.png"></div>
			<div class="mt-2" style="height:75%;width:75%;display: flex;flex-direction: row;float:left;">
			<h5 class="card-title">Bug Smasher</h5><br>
		  <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>
		  <a href="#" class="btn btn-primary">Go somewhere</a></div>
		</div>
	  </div>
	</div>
	<br><br>




		
	
		<div class="conProject">
	<img id="ImgProject3" class="ImgProject" src="./content/images/Project3.png" alt="" onmouseover="cover3(this)" onmouseout="uncover3(this)">
		</div>
	
	<div class="conProject">
	<img id="ImgProject2" class="ImgProject" src="./content/images/Project2.png" alt="" onmouseover="cover2(this)" onmouseout="uncover2(this)">
		</div>
	<div class="conProject">
	<h1>Coming soon...</h1>
		</div>
	
	<div class="divProjectInfo">
	</div>
	<div class="divAboutBreak"></div>
	<div class="divAboutBreak"></div>