
    <!--<h1><%= title %></h1>-->
    <div class="container"><h1>Services</h1>
        <ul><li>Web & Web app development; HTML, JavaScript, CSS, Scala, Java </li>
            <li>Web design; using dreamweaver and photoshop</li>
            <li>App development; IDE outSystems, SQL & Database </li>
            <li>Blockchain Development: (ETH) solidity with smart contract implementation</li>
            <li>Database management; Oracle SQL </li>
            <li>Other programming; C#, C# GUI, </li>
                </ul>
        </div>